/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
node_modules
/.gradle/5.4/executionHistory/*.bin
/.gradle/5.4/executionHistory/*.lock
/.gradle/5.4/fileChanges/*.bin
/.gradle/5.4/fileContent/*.lock
/.gradle/5.4/fileHashes/*.bin
/.gradle/5.4/fileHashes/*.lock
/.gradle/5.4/*.properties
/.gradle/5.4/javaCompile/*.bin
/.gradle/5.4/javaCompile/*.lock
/.gradle/buildOutputCleanup/*.lock
/.gradle/buildOutputCleanup/*.properties
/.gradle/buildOutputCleanup/*.bin
/.gradle/vcs-1/*.properties
/bin/main/ReactAPP/*.js
/bin/main/ReactAPP/css/*.css
/bin/main/*.properties
/bin/main/com/freelancoz/*.class
/bin/main/com/freelancoz/controllers/*.class
/bin/main/com/freelancoz/model/*.class
/bin/main/com/freelancoz/repositories/*.class
/bin/main/com/freelancoz/service/*.class
/bin/main/com/freelancoz/serviceImpl/*.class
/bin/main/static/dist/*.js
/bin/main/static/dist/*.map
/bin/main/static/*.html
/bin/test/com/freelancoz/*.class
/bin/test/com/freelancoz/service/*.class
